/*variables*/
:root {
    --fondo-principal: rgba(9, 14, 44, 0.935);
    --withe: #fff;
    --black: #000;
    --font-sec: rgb(134, 139, 143);

}
/*objetos html*/
body {
    background-color: var(--fondo-principal) ;
}
h1 {
    text-align: center;
    font-size: 2rem;
    color: var(--withe);
}
h2 {
    text-align: center;
    font-size: 1.5rem;
}
footer {
    background-color: var(--withe);
    background-size: cover;
    padding: 1rem;
    
}
/*Navegacion*/
.nav-bg {
    background-color: var(--black);
    background-size: cover;
}
.contenedor {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-a {
    text-decoration: none;
    color: var(--font-sec) ;
    font-size: 1rem;
    padding-right: 1rem;
    text-transform: uppercase;
    background-color: var(--fondo-principal);
}
/*body*/
.main {
    display: flex;
    margin: 0 10rem;
    flex-direction: row;
    justify-content: center;
}
.main__section {
    margin: 1rem;
    background-color: var(--withe);
    padding: 0rem 1rem 20rem 1rem;
    
}
/*footer*/
.footer__subBg {
    text-align: end;
    
}

