/*variables*/
:root {
    --Backg-principal: rgb(83, 146, 218);
    --Backg-secundario: rgb(27, 126, 240);
    --blanco: #ffff;
    --negro: #0000;

}
/*Elementos del html*/
body {
    background-color: var(--Backg-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    text-align: center;
    margin-top: 1px;
    padding-top: 1rem;
}
/*header*/
.main__header {
    background-color: var(--Backg-secundario);
    height: 5rem;
    width: 100%;
    border-bottom:solid;
    border-width: 2px;
}
/*body*/
.body_row{
    display: flex;
}
.main__body {
    background-color: var(--blanco);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30rem;
    height: 45rem;
}
.form {
    border-color: var(--negro);
    border: solid;
    display: flex;
    width: 20rem;
    justify-content: center;
    flex-direction: column;
    border-width: 3px;
    border-radius: 2%;
    margin: 2rem 0;
    padding: 1rem;
}
.form__text {
    margin: 1rem;
}
.form__label {
    padding-left: 1rem;
}
.form__input {
    width: 15rem;
    margin: 1rem;
}
.form__button {
    width: 7rem;
    margin: 1rem;
}
/*Respuesta de la calculadora*/
.resultado {
    margin-left: 3rem;
    border-color: var(--negro);
    border: solid;
    width: 15rem;
    height: 4rem;
    border-width: 1px;
    border-radius: 2%;
}
.reslutado__submit {
    padding-left: .5rem;
    font-size: 1.4rem;
    text-align: center;
}
.tabla {
    margin: 1rem;
    border: solid;
    border-width: 2px;
}
/*Advice cuadro 1*/
.section_advice {
    display: flex;
    flex-direction: column;    
}
.div_advice {
    margin: 1rem;
    border-color: var(--negro);
    border: solid;
    width: 20rem;
    height: 16rem;
    border-width: 1px;
    border-radius: 2%;
    background-color: var(--Backg-secundario);
    color: var(--blanco);}

/*animacion del recuadro advice*/
.div_advice__animation {
    display: block;
    padding-left: 1rem;
    white-space: nowrap;
    border-right: 1px solid transparent;
    overflow: hidden;
    font-size: 1rem;

    justify-content: center;
}
.div_advice__p1 {
    width: 25.5ch;
    animation: typing 1.5s steps(25), blink .5s 3 step-end alternate;
}
.div_advice__p2 {
    width: 22.5ch;
    font-size: 1.2rem;
    animation: typing 1.5s 1.8s steps(22) backwards, blink .5s 1.6s 4 step-end alternate;
} 
/* p3 = la respuesta del primer cuadro de advice */
.div_advice__p3 {
    width: 4.5ch;    
    margin-left: auto;
    margin-right: auto;
    animation: typing .5s steps(5), blink .5s 15 step-end alternate;
}
.div_advice__p4 {
    width: 37ch;
    animation: typing 1.5s 3.3s  steps(37) backwards, blink .5s 3.3s 4 step-end alternate;
}
.div_advice__p5 {
    width: 22.5ch;
    font-size: 1.2rem;
    animation: typing 1.5s 4.7s steps(22) backwards, blink .5s 4.7s 4 step-end alternate;
}
.div_advice__p6 {
    width: 22.5ch;
    font-size: 1.2rem;
    animation: typing 1.5s 4.7s steps(22) backwards, blink .5s 4.7s 4 step-end alternate;
}
/* p1 al g4 = la respuesta del segundo cuadro de advice */
.div_advice__g1 {
    margin-left: auto;
    margin-right: auto;
    width: 7.7ch;
    font-size: 1.2rem;
    animation: typing .5s steps(8) backwards, blink .5s 15 step-end alternate;
}
.div_advice__g2 {
    margin-left: auto;
    margin-right: auto;
    width: 10ch;
    font-size: 1.2rem;
    animation: typing 1s steps(11) backwards, blink .5s 15 step-end alternate;
}
.div_advice__g3 {
    margin-left: auto;
    margin-right: auto;
    width: 8.5ch;
    font-size: 1.2rem;
    animation: typing .5s steps(9) backwards, blink .5s 15 step-end alternate;
}
.div_advice__g4 {
    margin-left: auto;
    margin-right: auto;
    width: 14ch;
    font-size: 1.2rem;
    animation: typing 1s steps(15) backwards, blink .5s 15 step-end alternate;
}
@keyframes typing {
    0% { width: 0;
    color: var(--blanco);
    };
    100% {
        color: var(--blanco);
    }

}
@keyframes blink {
    0% {border-color: var(--blanco);}
    50% { border-color: transparent}
}
/*Advice cuadro 2*/
.div_advice__texto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    border-color: var(--negro);
    border: solid;
    width: 20rem;
    height: 25rem;
    border-width: 1px;
    border-radius: 2%;
    background-color: var(--Backg-secundario);
    color: var(--blanco);}
.div_advice__p7 {
    text-align: justify;
    font-size: small;
    padding: 1rem;
    margin: 0;
}
/*footer*/
footer {
    background-color: var(--Backg-secundario);
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 1px;
    border-top:solid;
    border-width: 2px;
}
.footer__home {
    margin: 1rem 2rem 1rem 2rem;
}
